@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        @Html.ActionLink("MY ACCOUNT", "Index", "Manage", routeValues: null, htmlAttributes: new {  @class = "py-2 d-none d-md-inline-block"})
        <a href="javascript:document.getElementById('logoutForm').submit()" class="py-2 d-none d-md-inline-block" style="padding: 0 4rem" data-toggle="tooltip" title="Sign out"><i class="fa fa-sign-out"></i></a>
    }
}
else
{
    @Html.ActionLink("Sign in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "py-2 d-none d-md-inline-block" })
}