@model MyBasicTaskManager.Models.IndexViewModel


<form class="form-signin">
    <i class="fa fa-diamond mb-4" style="font-size:72px;"></i>
    <h1 class="h3 mb-3 font-weight-normal">Change your account settings</h1>
    @if (Model.HasPassword)
    {
        @Html.ActionLink("Change your password", "ChangePassword", new { }, new { @class = "btn btn-lg btn-primary btn-block" })
    }
    else
    {
        @Html.ActionLink("Create", "SetPassword", new { }, new { @class = "btn btn-lg btn-primary btn-block" })
    }
    <p class="text-success">@ViewBag.StatusMessage</p>
</form>