.container {
    max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header,.footer {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    text-transform:uppercase !important
}

    .site-header a {
        color: #999;
        transition: ease-in-out color .15s;
    }

        .site-header a:hover {
            color: #fff;
            text-decoration: none;
        }

/*
 * Extra utilities
 */

.flex-equal > * {
    -ms-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        flex: 1;
    }
}

.overflow-hidden {
    overflow: hidden;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 0px solid #fff !important;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    text-align: center;
    margin-top: 5%;
}

    .form-signin .checkbox {
        font-weight: 400;
    }

    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
footer {
    text-align: center;
}
.form-gorup label {
    text-transform: uppercase
}
.bootgrid-table
{
    table-layout: auto;
}
a {
    color: #6c757d;
}
.page-item.active .page-link, .page-item .page-link:hover {
    z-index: 1;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
, .page-ite {
    z-index: 1;
    color: #6c757d !important;
    background-color: #fff !important;
    border-color: #6c757d !important;
}